.root {
    margin: 50px auto;
    display: flex;
    justify-content: start;
    width: 80%;
    flex-wrap: wrap;
    justify-items: start;
    flex-basis: content;
}

@media (max-width: 768px) {
    .root {
        width: 100%;
    }
}
