.root {
    text-align: center;
}
svg {
    g {
        fill: rgb(0, 217, 255);
    }
}
.AppLogo {
    height: 40vmin;
    pointer-events: none;
    width: 100%;
}

.icon {
    flex-basis: 100%;
    margin-bottom: 20px;
    svg {
        width: 60px;
        height: 60px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
